.pokemon_list {
  list-style: none;
  display:grid;
  grid-template-columns: auto auto auto auto auto 
}

.pokemon_elements {
  border: 0.5px solid black;
  margin: 10px;
  border-radius: 10px;
  width: 150px;
  height:200px;
  background-color: rgb(176, 247, 225);
}